<nav class="navbar navbar-expand-lg navbar-light navbar-color" style="z-index: 2">
  <div class="container-fluid">
	<div class="col-3">
	  <img src="assets/urbiss_logo.png" alt="Urbiss" class="logo" routerLink="/"/>
	</div>
  </div>
</nav>
<div class="page-container form-container">
  <div class="recover-password">
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      <h3>Recuperação de Senha</h3>
      <div class="">
				<span class="p-float-label mt-5">
		  		<input formControlName="password" id="password-input-rpw" pInputText type="password">
		  		<label for="password-input-rpw">Senha</label>
		  		<span *ngIf="!resetPasswordForm.controls['password'].valid&&resetPasswordForm.controls['password'].dirty" class="p-error"></span>
				</span>
				<small class="error-hint mt-2" *ngIf="!resetPasswordForm.controls['password'].valid&&resetPasswordForm.controls['password'].dirty">
					<i class="bi bi-exclamation-diamond mr-1"></i><strong>A senha deve conter no mínimo 6 caracteres.</strong>
				</small>
				<span class="p-float-label mt-4">
					<input formControlName="confirmPassword" id="confirm-password-input-rpw" pInputText type="password">
					<label for="confirm-password-input-rpw">Confirmar Senha</label>
					<span *ngIf="!resetPasswordForm.controls['confirmPassword'].valid&&resetPasswordForm.controls['confirmPassword'].dirty" class="p-error"></span>
				</span>
				<small class="error-hint mt-2" *ngIf="!resetPasswordForm.controls['confirmPassword'].valid&&resetPasswordForm.controls['confirmPassword'].dirty">
					<i class="bi bi-exclamation-diamond mr-1"></i><strong>As duas senhas devem ser iguais.</strong>
				</small>
				<button [disabled]="!resetPasswordForm.valid" class="p-button-raised mb-4 btn-urbiss" label="Confirmar" pButton pRipple type="submit" style="font-weight: bold"></button>
	  	</div>
  	</form>
  </div>
</div>